@page
@model ChangePasswordModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Change password";    
}

<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <!-- Form controls -->
    <div class="col-sm-12">
        <div class="panel panel-bd ">
            <div class="panel-heading">
                <div class="btn-group" id="buttonlist">
                    Update Password
                </div>
            </div>
            <div class="panel-body">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    @Html.AntiForgeryToken()
                
                    <div class="col-md-12 col-sm-4 form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" placeholder="Current Password" type="password"/>
                    </div>
                    
                    <div class="col-md-12 col-sm-4 form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" placeholder="New Password" type="password"/>
                    </div>

                    <div class="col-md-12 col-sm-4 form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" placeholder="Confirm Password" type="password"/>
                    </div>

                    <div class="reset-button ">
                        <input type="submit" class="btn btn-primary w-md m-b-5" value="Update"/>                        
                        <a asp-action="Index" class="btn btn-success w-md m-b-5">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}